@font-face {
  font-family: "PT Mono";
  src: url("../fonts/ptmono-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PT Mono";
  src: url("../fonts/ptmono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: black; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.hide {
  display: none; }

.show {
  display: block; }

.page {
  height: 100%; }

.page-body {
  margin: 0 auto;
  height: 100%;
  position: relative; }

.page-main {
  flex: 1 0 auto; }

.page-body__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.page-body__overlay--view {
  display: block; }

.page-container {
  min-height: 878px;
  background: url("../img/backpromo-desktop@1x.png") top left no-repeat, url("../img/triangle-desktop@1x.png") top left no-repeat;
  background-size: cover;
  background-color: #1b2d37;
  width: 100%; }
  @media (min-resolution: 2dppx) {
    .page-container {
      background: url("../img/backpromo-desktop@2x.png") top left no-repeat, url("../img/triangle-desktop@2x.png") top left no-repeat;
      background-color: #1b2d37;
      background-size: cover; } }
  @media (max-width: 1023px) {
    .page-container {
      background: url("../img/backpromo-tablet@1x.png") top left no-repeat, url("../img/triangle-tablet@1x.png") top right no-repeat;
      width: 100%;
      min-height: 686px;
      background-size: cover;
      background-color: #1b2d37; } }
  @media (max-width: 1023px) and (min-resolution: 2dppx) {
    .page-container {
      background: url("../img/backpromo-tablet@2x.png") top left no-repeat, url("../img/triangle-tablet@2x.png") top right no-repeat;
      background-color: #1b2d37; } }
  @media (max-width: 767px) {
    .page-container {
      background: url("../img/backpromo-mobile@1x.png") top left no-repeat, url("../img/triangle-mobile@1x.png") top left right no-repeat;
      background-color: #1b2d37;
      width: 100%;
      min-height: 647px; } }
  @media (max-width: 767px) and (min-resolution: 2dppx) {
    .page-container {
      background: url("../img/backpromo-mobile@2x.png") top left no-repeat, url("../img/triangle-mobile@2x.png") top right no-repeat;
      background-color: #1b2d37;
      background-size: cover; } }

.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 172px; }
  @media (max-width: 1023px) {
    .page-header {
      margin-bottom: 36px; } }

.page-header__logo-img {
  width: 202px;
  height: 52px; }
  @media (max-width: 767px) {
    .page-header__logo-img {
      width: 32px;
      height: 32px; } }

.page-header__logo {
  cursor: auto;
  pointer-events: none; }

.page-footer {
  flex: 0 0 auto;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px; }
  @media (max-width: 1023px) {
    .page-footer {
      gap: 0; } }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 9px auto;
  margin-bottom: 34px; }
  @media (max-width: 767px) {
    .page-footer__wrapper {
      flex-direction: column;
      margin-bottom: 12px; } }

.page-footer__logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 10.3vw; }
  @media (max-width: 1023px) {
    .page-footer__logo {
      width: 100vw;
      flex-direction: row;
      padding-right: 0; } }
  @media (max-width: 767px) {
    .page-footer__logo {
      flex-direction: column;
      padding-top: 27px;
      margin-bottom: 47px;
      align-items: center; } }

.page-footer__site {
  padding-right: 8.3vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px; }
  @media (max-width: 1023px) {
    .page-footer__site {
      width: 50vw;
      padding-left: 10px;
      padding-top: 44px; } }
  @media (max-width: 767px) {
    .page-footer__site {
      width: 100vw;
      padding-left: 0;
      padding-right: 0;
      padding-top: 3px;
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4; } }

.page-footer__office {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px; }
  @media (max-width: 1023px) {
    .page-footer__office {
      width: 46vw;
      padding-left: 0;
      padding-top: 44px; } }
  @media (max-width: 767px) {
    .page-footer__office {
      width: 100vw;
      gap: 2px;
      padding-top: 0; } }

.page-footer__copyright-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 74vw; }
  @media (max-width: 1262px) {
    .page-footer__copyright-list {
      width: 100vw;
      justify-content: space-around; } }
  @media (max-width: 1023px) {
    .page-footer__copyright-list {
      padding-top: 28px;
      padding-bottom: 28px;
      width: 100vw;
      justify-content: space-between;
      padding-left: 3.5vw;
      padding-right: 3vw; } }
  @media (max-width: 767px) {
    .page-footer__copyright-list {
      justify-content: center;
      padding-left: 0;
      padding-top: 33px;
      gap: 30px;
      padding-bottom: 26px; } }

.page-footer__copyright-item {
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  letter-spacing: 0.04em;
  color: #1b2d37;
  text-transform: uppercase;
  opacity: 0.5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px 0; }
  .page-footer__copyright-item:not(:nth-of-type(4)) {
    margin-right: 3vw; }
  .page-footer__copyright-item:nth-of-type(1) {
    margin-right: 3.9vw; }
    @media (max-width: 1262px) {
      .page-footer__copyright-item:nth-of-type(1) {
        margin-right: 0; } }
    @media (max-width: 1023px) {
      .page-footer__copyright-item:nth-of-type(1) {
        display: none; } }
  .page-footer__copyright-item:nth-of-type(2) {
    margin-right: 7.4vw; }
    @media (max-width: 1262px) {
      .page-footer__copyright-item:nth-of-type(2) {
        margin-right: 0; } }
    @media (max-width: 1023px) {
      .page-footer__copyright-item:nth-of-type(2) {
        display: none; } }
  .page-footer__copyright-item:nth-of-type(3) {
    margin-right: 21.1vw; }
    @media (max-width: 1262px) {
      .page-footer__copyright-item:nth-of-type(3) {
        margin-right: 0; } }
    @media (max-width: 767px) {
      .page-footer__copyright-item:nth-of-type(3) {
        margin-right: 0; } }

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
  justify-content: center;
  width: 100%; }

.page-footer__logo-img {
  padding-left: 12px; }
  @media (max-width: 1023px) {
    .page-footer__logo-img {
      padding-left: 28px;
      padding-top: 12px; } }
  @media (max-width: 767px) {
    .page-footer__logo-img {
      padding-left: 34px; } }

.page-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-left: 13px;
  width: 120px; }
  @media (max-width: 1023px) {
    .page-footer__social-list {
      padding-top: 24px;
      padding-left: 11px;
      padding-right: 20px;
      width: auto; } }
  @media (max-width: 767px) {
    .page-footer__social-list {
      padding-top: 19px;
      padding-right: 0;
      padding-left: 0; } }

.page-footer__years {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  letter-spacing: 0.04em;
  color: #1b2d37;
  text-transform: uppercase;
  opacity: 0.5;
  display: none; }
  @media (max-width: 1023px) {
    .page-footer__years {
      padding-top: 15px;
      display: block;
      padding-right: 8vw; } }
  @media (max-width: 767px) {
    .page-footer__years {
      padding-top: 9px;
      padding-right: 0; } }

.page-footer__text {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1b2d37;
  letter-spacing: 0.05em;
  padding-top: 44px;
  padding-left: 10px; }
  @media (max-width: 1023px) {
    .page-footer__text {
      padding-top: 0; } }
  @media (max-width: 767px) {
    .page-footer__text {
      padding-left: 15px; } }

.page-footer__text-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 26vw;
  padding-left: 0;
  gap: 3.2vw; }
  @media (max-width: 1627px) {
    .page-footer__text-list {
      width: 16vw;
      gap: 0; } }
  @media (max-width: 1023px) {
    .page-footer__text-list {
      height: auto;
      width: 32vw;
      gap: 0; } }
  @media (max-width: 767px) {
    .page-footer__text-list {
      width: 250px;
      padding-left: 15px;
      padding-bottom: 20px;
      display: none; } }

.page-footer__office-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (max-width: 767px) {
    .page-footer__office-list {
      padding-left: 15px;
      width: 86vw;
      padding-bottom: 14px;
      display: none; } }

.page-footer__text-item {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  color: #1b2d37;
  opacity: 0.5;
  padding-left: 10px; }
  @media (max-width: 767px) {
    .page-footer__text-item {
      padding-left: 0; } }

.page-footer__text-item a {
  color: #1b2d37; }
  .page-footer__text-item a:hover {
    opacity: 0.7; }

.page-footer__text-btn {
  display: none; }
  @media (max-width: 767px) {
    .page-footer__text-btn {
      display: block;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative; }
      .page-footer__text-btn::before {
        content: "";
        position: absolute;
        top: 22px;
        right: 16px;
        width: 16px;
        height: 1px;
        background-color: #c4c4c4; }
      .page-footer__text-btn::after {
        content: "";
        position: absolute;
        top: 22px;
        right: 16px;
        width: 16px;
        height: 1px;
        background-color: #c4c4c4;
        transform: rotate(90deg); } }

.page-footer__office-btn {
  display: none; }
  @media (max-width: 767px) {
    .page-footer__office-btn {
      display: block;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative; }
      .page-footer__office-btn::before {
        content: "";
        position: absolute;
        top: 22px;
        right: 16px;
        width: 16px;
        height: 1px;
        background-color: #c4c4c4; }
      .page-footer__office-btn::after {
        content: "";
        position: absolute;
        top: 22px;
        right: 16px;
        width: 16px;
        height: 1px;
        background-color: #c4c4c4;
        transform: rotate(90deg); } }

.page-footer__link {
  cursor: auto;
  pointer-events: none;
  margin-top: 60px; }
  @media (max-width: 1023px) {
    .page-footer__link {
      margin-top: 0;
      padding-right: 11vw; } }

.page-footer__site-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: auto;
  pointer-events: none; }
  @media (max-width: 767px) {
    .page-footer__site-container {
      padding: 13px 0;
      cursor: pointer;
      pointer-events: auto; } }

.page-footer__office-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: auto;
  pointer-events: none; }
  @media (max-width: 767px) {
    .page-footer__office-container {
      padding: 13px 0;
      cursor: pointer;
      pointer-events: auto; } }

.page-footer__site--opened .page-footer__text-btn::after,
.page-footer__site--nojs .page-footer__text-btn::after,
.page-footer__office--opened .page-footer__office-btn::after,
.page-footer__office--nojs .page-footer__office-btn::after {
  width: 0;
  height: 0; }

.page-footer__site--opened .page-footer__text-list,
.page-footer__site--nojs .page-footer__text-list,
.page-footer__office--opened .page-footer__office-list,
.page-footer__office--nojs .page-footer__office-list {
  display: flex; }

.page-footer__text-list-left,
.page-footer__text-list-right {
  list-style: none;
  margin: 0;
  padding: 0; }

.button {
  font-size: 14px;
  line-height: auto;
  font-weight: 700;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  width: 180px;
  padding: 12px 0;
  word-break: break-all;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer; }

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  min-width: 73.5vw; }
  @media (max-width: 1023px) {
    .main-nav {
      width: 100%;
      padding-top: 20px;
      padding-left: 22px;
      padding-right: 0; } }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  width: 706px; }
  @media (max-width: 1023px) {
    .main-nav__list {
      width: auto; } }

.main-nav__item a {
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  color: white;
  position: relative;
  padding-left: 36px;
  margin-left: 50px; }

.main-nav__mail {
  position: relative;
  margin-right: 2vw; }
  .main-nav__mail:hover {
    opacity: 0.7; }
  .main-nav__mail::before {
    content: "";
    position: absolute;
    background: url("../img/icons/mail-icon.svg") no-repeat;
    top: 2px;
    left: -3px;
    width: 19px;
    height: 14px; }
    @media (max-width: 1023px) {
      .main-nav__mail::before {
        background: url("../img/icons/mail-big.svg");
        top: -5px;
        left: 30px;
        width: 26px;
        height: 19px; } }
    @media (max-width: 767px) {
      .main-nav__mail::before {
        left: 39px; } }

@media (max-width: 1023px) {
  .main-nav__mail > span {
    display: none; } }

.main-nav__phone {
  position: relative; }
  .main-nav__phone:hover {
    opacity: 0.7; }
  .main-nav__phone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/icons/phone-icon.svg") no-repeat;
    width: 18px;
    height: 18px; }
    @media (max-width: 1023px) {
      .main-nav__phone::before {
        background: url("../img/icons/phone-big.svg");
        top: -7px;
        left: -11px;
        width: 25px;
        height: 24px; } }
    @media (max-width: 767px) {
      .main-nav__phone::before {
        left: -2px; } }

@media (max-width: 1023px) {
  .main-nav__phone > span {
    display: none; } }

.main-nav__button {
  margin-left: 2.1vw; }
  .main-nav__button:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .main-nav__button {
      display: none; } }

.company {
  color: #666666;
  margin-bottom: 95px;
  background: url("../img/company-back-desktop@1x.png") top -30px left no-repeat; }
  @media (max-width: 1023px) {
    .company {
      background: url("../img/company-back-tablet@1x.png") top 88px left 211px no-repeat;
      margin-bottom: 66px; } }
  @media (max-width: 767px) {
    .company {
      background: url("../img/company-back-mobile@1x.png") top 679px left no-repeat;
      margin-bottom: 79px; } }

.company__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 90vw;
  margin: 0 auto;
  padding-top: 110px;
  gap: 30px;
  margin-bottom: 107px; }
  @media (max-width: 1023px) {
    .company__list {
      padding-top: 53px;
      margin-bottom: 0;
      width: 100%; } }
  @media (max-width: 767px) {
    .company__list {
      gap: 20px;
      padding-top: 40px; } }

.company__item {
  width: 570px;
  min-height: 15.5vw;
  position: relative;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  padding: 42px 43px;
  box-sizing: border-box;
  background-color: white; }
  @media (max-width: 1023px) {
    .company__item {
      width: 44.8vw;
      height: auto;
      padding: 21px 22px 0; } }
  @media (max-width: 767px) {
    .company__item {
      width: 92vw;
      padding-top: 27px;
      padding-left: 24px;
      padding-right: 11px;
      min-height: 310px; } }
  .company__item:hover {
    background-color: #00b2ff;
    border: 1px solid #00b2ff; }

@media (max-width: 1023px) {
  .company__list li:nth-of-type(1) {
    min-height: 306px; } }

@media (max-width: 767px) {
  .company__list li:nth-of-type(1) {
    min-height: 310px;
    padding-right: 19px; } }

@media (max-width: 1023px) {
  .company__list li:nth-of-type(2) {
    min-height: 306px; } }

@media (max-width: 767px) {
  .company__list li:nth-of-type(2) {
    min-height: 310px; } }

@media (max-width: 1023px) {
  .company__list li:nth-of-type(3) {
    min-height: 232px; } }

@media (max-width: 767px) {
  .company__list li:nth-of-type(3) {
    min-height: 232px; } }

@media (max-width: 767px) {
  .company__list li:nth-of-type(4) {
    min-height: 244px;
    padding-right: 21px; } }

@media (max-width: 767px) {
  .company__item .company__item-text:nth-of-type(1) {
    padding-right: 20px; } }

.company__item:hover .company__item-header,
.company__item:hover .company__item-text {
  color: white; }

.company__item h3 {
  font-size: 24px;
  line-height: 140.6%;
  font-weight: 400;
  color: #00b2ff;
  padding: 0;
  margin: 0;
  margin-top: 16px; }
  @media (max-width: 1023px) {
    .company__item h3 {
      margin-top: 4px;
      width: 100%;
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .company__item h3 {
      font-size: 20px;
      line-height: 140.6%;
      font-weight: 400;
      margin-bottom: 12px; } }

.company__item p {
  font-size: 16px;
  line-height: 134.4%;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  width: 480px; }
  @media (max-width: 1023px) {
    .company__item p {
      width: 38vw;
      margin: 0; } }
  @media (max-width: 767px) {
    .company__item p {
      width: 100%;
      margin: 0; } }

.company__container {
  width: 63%;
  position: relative;
  padding-left: 50px; }
  @media (max-width: 1023px) {
    .company__container {
      padding-left: 36px; } }
  @media (max-width: 767px) {
    .company__container {
      width: 100%;
      padding-left: 0;
      display: flex;
      justify-content: center; } }

.company__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: -10px;
  margin: 0 auto;
  padding-left: 18vw; }
  @media (max-width: 1023px) {
    .company__wrapper {
      padding-top: 60px;
      padding-left: 0; } }
  @media (max-width: 767px) {
    .company__wrapper {
      align-content: center; } }

.company__image {
  width: 157px;
  height: 317px; }
  @media (max-width: 1023px) {
    .company__image {
      width: 175px;
      height: 361px; } }
  @media (max-width: 767px) {
    .company__image {
      display: none; } }

.company__title {
  font-size: 36px;
  line-height: 140.6%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px; }
  @media (max-width: 1023px) {
    .company__title {
      font-size: 32px;
      line-height: 140.6%;
      font-weight: 400; } }
  @media (max-width: 767px) {
    .company__title {
      font-size: 28px;
      line-height: 140.6%;
      font-weight: 400; } }

.company__slogan {
  font-size: 16px;
  line-height: 134.4%;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  width: 51vw;
  margin: 0;
  margin-bottom: 54px; }
  @media (max-width: 1023px) {
    .company__slogan {
      width: 68vw;
      height: 190px;
      overflow: hidden;
      text-overflow: ellipsis; } }
  @media (max-width: 767px) {
    .company__slogan {
      width: 90vw; } }
  @media (max-width: 320px) {
    .company__slogan {
      width: 290px;
      height: 328px; } }

.company__slogan span {
  display: block;
  box-sizing: border-box;
  padding-top: 20px; }
  @media (max-width: 1023px) {
    .company__slogan span {
      padding-top: 23px; } }
  @media (max-width: 767px) {
    .company__slogan span {
      padding-top: 40px; } }

.company__button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #00b2ff;
  margin: 0;
  width: 180px;
  padding: 17px 50px;
  box-sizing: border-box;
  border: 1px solid #00b2ff;
  border-radius: 5px;
  cursor: pointer; }
  .company__button:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .company__button {
      padding: 13px 50px; } }

.company__item:hover .company__hired-icon,
.company__item:hover .company__watch-icon,
.company__item:hover .company__detective-icon,
.company__item:hover .company__tag-icon {
  fill: white; }

.company__hired-icon,
.company__watch-icon,
.company__detective-icon,
.company__tag-icon {
  fill: #00b2ff; }

.service {
  background-color: #1b2d37; }

.service__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 129px; }
  @media (max-width: 1023px) {
    .service__wrapper {
      width: 94%;
      gap: 46px;
      padding-top: 52px;
      padding-bottom: 73px; } }
  @media (max-width: 767px) {
    .service__wrapper {
      padding-bottom: 60px;
      width: 90%;
      gap: 40px; } }

.service__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 70%;
  justify-content: center;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .service__list {
      width: 100%;
      gap: 44px; } }
  @media (max-width: 767px) {
    .service__list {
      gap: 26px;
      width: 98%; } }

.service__list p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 52px;
  left: 43px;
  margin: 0;
  width: 154px; }
  @media (max-width: 1023px) {
    .service__list p {
      top: 46px;
      left: 45px;
      width: 20vw; } }
  @media (max-width: 767px) {
    .service__list p {
      top: 22px;
      left: 30px;
      width: 151px; } }

.service__item {
  position: relative; }
  .service__item::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: #00b2ff;
    bottom: 6px;
    right: 0; }
  .service__item::after {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(-45deg); }
  .service__item:hover {
    opacity: 0.7; }

.service__image {
  width: 19.5vw;
  height: 32.5vw; }
  @media (max-width: 1023px) {
    .service__image {
      width: 720px;
      height: 256px; } }
  @media (max-width: 767px) {
    .service__image {
      width: 290px;
      height: 256px; } }

.service__title {
  font-size: 36px;
  line-height: 140.6%;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: white;
  margin: 0;
  width: 65vw;
  padding-left: 19.5vw; }
  @media (max-width: 1023px) {
    .service__title {
      font-size: 32px;
      line-height: 140.6%;
      font-weight: 400;
      width: 87%;
      min-height: 88px;
      padding-left: 0; } }
  @media (max-width: 767px) {
    .service__title {
      font-size: 28px;
      line-height: 140.6%;
      font-weight: 400;
      width: 100%;
      padding-left: 2.5vw; } }

.service__item a {
  display: block; }

.wrapper {
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1920px; }
  @media (max-width: 1023px) {
    .wrapper {
      width: auto;
      padding: 0 0; } }
  @media (max-width: 767px) {
    .wrapper {
      width: auto;
      padding: 0 0; } }

.promo {
  margin-bottom: 75px;
  display: flex;
  flex-wrap: nowrap;
  gap: 2vw;
  position: relative; }
  @media (max-width: 1023px) {
    .promo {
      margin-bottom: 81px;
      min-height: 494px;
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .promo {
      margin-bottom: 0;
      min-height: 425px;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; } }

.promo__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 13vw;
  position: relative;
  width: 52vw;
  padding-top: 66px; }
  @media (max-width: 1023px) {
    .promo__header {
      padding-left: 11.5vw;
      padding-top: 79px; } }
  @media (max-width: 767px) {
    .promo__header {
      padding-left: 0;
      width: 100%;
      align-content: center;
      order: 1;
      padding-top: 0;
      transform: translateY(-36px); } }

.promo__header h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  width: 100%; }
  @media (max-width: 1023px) {
    .promo__header h1 {
      font-size: 60px;
      line-height: 68px;
      font-weight: 700;
      letter-spacing: 4px;
      width: 60vw;
      margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .promo__header h1 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      letter-spacing: 3px;
      width: 92vw; } }

.promo__header p {
  font-size: 22px;
  line-height: 156.8%;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  color: white;
  padding-left: 98px;
  margin-bottom: 43px;
  position: relative;
  width: 82%;
  min-height: 102px; }
  .promo__header p::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: white;
    top: 19px;
    left: 3px; }
    @media (max-width: 1023px) {
      .promo__header p::before {
        top: 16px;
        width: 33px; } }
  @media (max-width: 1023px) {
    .promo__header p {
      font-size: 18px;
      line-height: 156.8%;
      font-weight: 400;
      width: 356px;
      padding-left: 50px;
      margin-bottom: 42px; } }
  @media (max-width: 767px) {
    .promo__header p {
      font-size: 16px;
      line-height: 156.8%;
      font-weight: 400;
      width: 72vw; } }

.promo__button {
  font-size: 16px;
  line-height: auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5%;
  color: white;
  background-color: #00b2ff;
  padding: 18px 58px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 97px;
  width: 407px;
  margin-bottom: 155px;
  transform: translateY(-32px); }
  .promo__button:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .promo__button {
      margin-left: 51px;
      width: 379px;
      padding: 19px 28px;
      letter-spacing: 1px;
      margin-bottom: 0; } }
  @media (max-width: 767px) {
    .promo__button {
      width: 287px;
      margin: 0 auto;
      display: none; } }

.promo__button-mobile {
  font-size: 16px;
  line-height: auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5%;
  color: white;
  background-color: #00b2ff;
  padding: 18px 58px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 97px;
  width: 407px;
  margin-bottom: 155px;
  transform: translateY(-32px);
  display: none; }
  .promo__button-mobile:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .promo__button-mobile {
      margin-left: 51px;
      width: 379px;
      padding: 19px 28px;
      letter-spacing: 1px;
      margin-bottom: 0; } }
  @media (max-width: 767px) {
    .promo__button-mobile {
      width: 89vw;
      margin: 0 auto;
      display: flex;
      justify-content: center; } }

.promo__scroll {
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  color: white;
  opacity: 50%;
  transform: rotate(-90deg);
  transform-origin: left top;
  width: 100px; }
  .promo__scroll:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .promo__scroll {
      display: none; } }

@media (max-width: 1023px) {
  .promo__image {
    width: 260px;
    height: 340px; } }

@media (max-width: 767px) {
  .promo__image {
    order: 2;
    width: 301px;
    height: 220px;
    padding-left: 19px; } }

.questions {
  background: url("../img/questions-back@1x.png") top -60px left 175px no-repeat, #00b2ff top left no-repeat;
  color: white; }
  @media (max-width: 1023px) {
    .questions {
      background: #00b2ff top left no-repeat; } }

.questions__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 4.4vw;
  padding-top: 92px;
  padding-bottom: 75px; }
  @media (max-width: 1023px) {
    .questions__wrapper {
      gap: 0;
      padding-top: 80px;
      padding-bottom: 65px;
      width: 97vw; } }
  @media (max-width: 767px) {
    .questions__wrapper {
      padding-top: 28px;
      padding-bottom: 7px; } }

@media (max-width: 1023px) {
  .questions__container {
    width: 81vw;
    padding-left: 8vw; } }

@media (max-width: 767px) {
  .questions__container {
    width: 100vw;
    padding-left: 4vw; } }

.questions fieldset {
  border: none;
  padding: 0;
  margin: 0; }

.questions__contacts,
.questions__send {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px; }
  @media (max-width: 1023px) {
    .questions__contacts,
    .questions__send {
      width: 95%;
      margin-bottom: 42px; } }
  @media (max-width: 767px) {
    .questions__contacts,
    .questions__send {
      width: 100%;
      flex-direction: column;
      margin-bottom: 31px; } }

@media (max-width: 767px) {
  .questions__send {
    gap: 23px; } }

.questions__title {
  font-size: 36px;
  line-height: 140.6%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px; }
  @media (max-width: 1023px) {
    .questions__title {
      font-size: 32px;
      line-height: 45px;
      font-weight: 400;
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .questions__title {
      font-size: 28px;
      line-height: 40px;
      font-weight: 400; } }

.questions__slogan {
  font-size: 16px;
  line-height: 134.4%;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  margin: 0;
  padding-left: 5px;
  margin-bottom: 48px; }
  @media (max-width: 1023px) {
    .questions__slogan {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .questions__slogan {
      margin-bottom: 23px; } }

.questions__contacts input,
.questions__item textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none; }

.questions__contacts input {
  width: 270px;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  color: black;
  text-indent: 17px; }
  @media (max-width: 1023px) {
    .questions__contacts input {
      width: 36.5vw; } }
  @media (max-width: 767px) {
    .questions__contacts input {
      width: 92vw; }
      .questions__contacts input:nth-of-type(2) {
        margin-top: 35px; } }
  .questions__contacts input::placeholder {
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    font-family: "PT Mono", "Courier New", monospace;
    color: white; }
  .questions__contacts input:focus, .questions__contacts input:hover {
    box-shadow: 0 0 0 1px white inset; }

.questions__item textarea {
  width: 570px;
  height: 154px;
  margin-bottom: 38px;
  outline: none;
  text-indent: 17px;
  padding-top: 12px;
  color: black;
  box-sizing: border-box;
  resize: none; }
  .questions__item textarea:focus, .questions__item textarea:hover {
    box-shadow: 0 0 0 1px white inset; }
  .questions__item textarea::placeholder {
    font-size: 16px;
    line-height: 134.4%;
    font-weight: 400;
    font-family: "PT Mono", "Courier New", monospace;
    color: white; }
  @media (max-width: 1023px) {
    .questions__item textarea {
      width: 76.8vw;
      height: 159px; } }
  @media (max-width: 767px) {
    .questions__item textarea {
      width: 92vw;
      height: 104px;
      margin-bottom: 26px; } }

.questions__button {
  width: 270px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 14px 0; }
  .questions__button:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .questions__button {
      width: 36.5vw; } }
  @media (max-width: 767px) {
    .questions__button {
      width: 92vw; } }

.questions__check-label {
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  position: relative;
  cursor: pointer;
  width: 230px;
  padding-top: 8px;
  padding-left: 35px; }
  .questions__check-label:hover {
    opacity: 0.7; }
  @media (max-width: 1023px) {
    .questions__check-label {
      width: 31vw; } }
  @media (max-width: 767px) {
    .questions__check-label {
      width: 70vw; } }

.questions__check:checked + label::before,
.questions__check + label::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  box-sizing: border-box; }

.questions__check:checked + label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 14px;
  width: 8px;
  height: 4px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  transform: rotate(-45deg); }

.questions__check:focus + label::before {
  outline: 1px solid black; }

.questions__item {
  margin: 0;
  padding: 0;
  border: none; }

.questions__image {
  margin-top: 3.6vw;
  transform: translateX(-25px);
  width: 26.6vw; }
  @media (max-width: 1023px) {
    .questions__image {
      display: none; } }

.modal {
  position: fixed;
  top: 137px;
  right: -16px;
  left: 0;
  margin: auto;
  background-color: #00b2ff;
  color: white;
  width: 490px;
  height: 605px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 3;
  border: none;
  overflow: auto; }
  .modal--opened {
    display: block; }

.modal__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 25px 0;
  box-sizing: border-box; }

.modal fieldset {
  border: none;
  padding: 0;
  margin: 0; }

.modal__title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px; }

.modal__slogan {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  margin: 0;
  width: 97%;
  margin-bottom: 33px; }

.modal__contacts {
  gap: 30px;
  margin: 0; }

.modal__send {
  gap: 24px; }

.modal__contacts,
.modal__send {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.modal__contacts input,
.modal__contacts textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none; }
  .modal__contacts input:focus, .modal__contacts input:hover,
  .modal__contacts textarea:focus,
  .modal__contacts textarea:hover {
    box-shadow: 0 0 0 1px white inset; }

.modal__contacts input {
  width: 412px;
  height: 52px;
  box-sizing: border-box;
  outline: none;
  color: black;
  text-indent: 17px; }
  .modal__contacts input::placeholder {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: "PT Mono", "Courier New", monospace;
    color: white; }

.modal__contacts textarea {
  width: 412px;
  height: 104px;
  margin-bottom: 16px;
  outline: none;
  text-indent: 17px;
  padding-top: 12px;
  color: black;
  box-sizing: border-box;
  resize: none; }
  .modal__contacts textarea::placeholder {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: "PT Mono", "Courier New", monospace;
    color: white; }

.modal__button {
  width: 412px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 14px 0; }
  .modal__button:hover {
    opacity: 0.7; }

.modal__check-label {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  font-family: "PT Mono", "Courier New", monospace;
  position: relative;
  cursor: pointer;
  width: 316px;
  padding-top: 8px;
  padding-left: 49px; }

.modal__check:checked + label::before,
.modal__check + label::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  box-sizing: border-box; }

.modal__check:checked + label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 14px;
  width: 8px;
  height: 4px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  transform: rotate(-45deg); }

.modal__check:invalid {
  transform: translateY(95px); }

.modal__check:focus + label::before {
  outline: 1px solid black; }

.modal__close {
  border: none;
  outline: none;
  background-color: transparent;
  top: 8px;
  right: 0;
  cursor: pointer; }
  .modal__close:focus::before, .modal__close:focus::after {
    border: 1px solid black; }
  .modal__close::before, .modal__close::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 22px;
    height: 1px;
    background-color: white; }
  .modal__close::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .modal__close::after {
    transform: rotate(-45deg); }

.modal-show .modal {
  display: block; }

.modal-show .page-body__overlay {
  display: block; }

dialog {
  background-color: #00b2ff; }

dialog[open]:not(:focus-within) {
  background-color: #00b2fa;
  transition: background-color 0.01s ease; }

.no-dialog dialog {
  display: none; }

.no-dialog dialog[open] {
  display: block; }

.social__link-icon:hover {
  opacity: 0.7; }

.social__item:not(:nth-of-type(1)) {
  padding-left: 16px; }
